.post-content h3 {
    margin-bottom: 32px;
}

.post-content pre code {
    padding: 20px !important;
    background: rgb(245, 245, 245) !important;
    color: black;
}

.highlight > pre {
    background-color: var(--code-bg) !important;
    border-radius: 8px;
}